body {
    font-family: 'Bona Nova', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

.orangeText {
    color: orange;
}

.first2column{
    display: flex;
    margin-bottom: 150px;
}

.secImage{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{}
.web-developer{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.web-developer h1{
    font-size: 40px;
}
.web-developer p {
    text-align: justify;
}
.web-developer h3 {
    color: orange;
}
.web-dev-left{
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    padding: 0px 20px;
    margin-bottom: 150px;
    box-shadow: 10px 10px 40px gray;
}

#leftOne{
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}
#rightOne{
    border-left: 7px solid;
    border-image: linear-gradient(blue, orange);
    border-image-slice: 1;
}